<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="s3grabber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <s3grabber.Properties.Settings>
            <setting name="AccessKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value />
            </setting>
            <setting name="BucketName" serializeAs="String">
                <value />
            </setting>
            <setting name="ObjectPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="CloudFront" serializeAs="String">
                <value />
            </setting>
            <setting name="Region" serializeAs="String">
                <value>s3.amazonaws.com</value>
            </setting>
            <setting name="ImageQuality" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="ImageType" serializeAs="String">
                <value>Png</value>
            </setting>
            <setting name="CopyToClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DingOnUpload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StorageFolder" serializeAs="String">
                <value />
            </setting>
        </s3grabber.Properties.Settings>
    </userSettings>
</configuration>
